# Ignore build
output
ethercat-igh/

# dpkg build artifacts
*.deb
*.buildinfo
*.changes

# debhelper outputs
debian/*debhelper*
debian/*.log
debian/*.substvars
debian/debhelper-build-stamp
debian/files
debian/.debhelper/

# Package staging
debian/ethercat-igh*
debian/ethercat-dkms*
debian/dkms-src/

